.bottomBar{
  display: flex;
  justify-content: space-between;
  text-align: justify;
}

button,
input[type="checkbox"] {
  outline: none;
}

a {
	cursor: pointer;
}

#clear {
	float: right;
	font-size: 12px;
}

#status {
	font: 16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	float: left;
	color: #ac2925;
}

.page {
	width: 100%
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}