input {
	width: 85%;
  float: right;
}

.block label {
  float: left;
}

td {
  display:table-cell;
  margin: auto;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.uk-button {
  padding-left: 15px !important;
  padding-right: 15px !important;
}