h4 {
    margin-bottom: 5px !important;
}

kbd {
    font-size: 12px;
}

Table {
    width: 100%;
    border-collapse: collapse;
}

/*.left {
    text-align: left;
    font-size: 25px;
}

.right {
    text-align: center;
    font-size: 25px;
}*/